.card {
    width: 18.4%;
    margin: 0 1% 3rem;
    overflow: hidden;
}

.card:nth-child(5n -4) {
    margin-left: 0;
}

.card:nth-child(5n) {
    margin-right: 0;
}

.card img {
    height: 18rem;
}

.hide-btn-wp {
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s all;
}

.card:hover .hide-btn-wp {
    bottom: 50%;
    transform: translateY(50%);
    opacity: 1;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.card:hover img {
    z-index: -2;
}
